main{
    height: 840px;
    margin: auto;
    width: 1000px;
}

header{
    height: 207px;
}

nav{
    background-color: #1C4A48;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid #1C4A48;
    height: 70px;
}

.menu{
    border-right: 2px solid white;
    color: #ffffff;
    display: inline;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-right: 40px;
    padding-top: 2px;
}

#menuNoLinea{
    border: 0px;
}

ul{
    border: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

section{
    height: 450px;
    float: left;
    width: 600px;
}


.info1{
    background-color: #fbf5b9;
    border-radius: 20px 20px 0px 0px;
}

.informacion{
    display: inline-block;
    margin-left: 25px;
    margin-top: 0px;
    width: 250px;
}

.info2{
    background-color: #fbf5b9;
    border-radius: 0px 0px 20px 20px;
}

.subtitulo{
    margin-left: 25px;
    padding-top: 15px;
}

.tituloCuadro{
    display: inline;
}
.perros{
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    float: right;
    height: 120px;
    margin-right: 25px;
    margin-bottom: 30px;
}

article{  
    height: 200px;   
    margin: auto;
    margin-top: 15px;
    width: 580px; 
}

aside{
    background-color: #4a6e6e;
    border-radius: 20px 20px 20px 20px;
    float: left;
    height: 420px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 12px;
    width: 360px;
} 

aside form label{
    color: #d9e0e1;
    display: inline-block;
    padding-bottom: 15px;
    padding-left: 40px ;
    padding-top: 15px;
}

#nombre-mascota{
    margin-left: 10px;
}

#edad{
    margin-left: 30px;
}

#raza{
    margin-left: 30px;
}

#fecha{
    margin-left: 26px;
    width: 140px;
}

#hora{
    margin-left: 30px;
    width: 140px
}

#amo{
    margin-left: 30px;
}

aside form button{
    display: block;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 20px;
}

footer{
    background-color:#1c4a48;
    border-top: 1px solid blue;
    border-radius: 0px 0px 20px 20px;
    clear: both;
    color: #9aafb0;
    font-size: 15px;
    height: 100px;
    text-align: center;
}

.contacto{
    margin: 5px;    
}

#contactoarriba{
    margin-top: 20px;
}

#encabezado{
    width: 1000px;
}

.formulario{
    background-color: #0a2826;
    border-radius: 20px 20px 0px 0px;
    color: #c7cfd1;
    margin: 0px;
    padding: 13px;
    text-align: center;
}

