main{
   
    height: 400px;
    width: 500px;
    margin: auto;

}
header{
 border: 1px solid black;
 border-radius: 10px 10px 0px 0px;
 background-color: wheat;
 text-align: center;
 

}
article{
    border: 1px solid red;
    text-align: center;
    height: 50px;

}
    
footer{
border: 1px solid royalblue;
text-align: center;
height: 50px;

}
h3{
    font-size: 20px;
    margin: -3px 0 0 0;
}
