main{
    width: 1000px;
    margin: auto;
    color: white;
}
article p{
    margin: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:cadetblue;
}
header {
    background-color: red;
    margin-bottom: 20px;
}
footer {
    margin-top: 20px;
    background-color: rgba(255, 0, 0, 0.501);
}