main{
    width: 820px;
    height: 700px;
    margin: auto;
}
header{
    width: 800px;
    height: 150px;
}
header img{
    margin: 150px;
    width: 800px;
    margin: auto;
}
nav{
    width: 800px;
    height: 70px;
    background-color: #19403C;
    border-radius: 0px 0px 15px 15px;
}
nav li{
    display: inline-flex;
    width: 170px;
    height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
}
aside{
    width: 300px;
    height: 400px;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    background-color:  #4B6F6E;
    border-radius: 15px 15px 15px 15px;
}
aside header{
    background-color: #0A2927;
    height: 50px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 22px;
}
aside p{
    width: 300px;
    text-align: center;
}
aside b{
    color: white;
    display: inline-flex;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 50px;
}
aside input{
    width: 150px;
    margin-right: 30px;
}
.botonEnviar{
    margin-top: 15px;
}
section{
    width: 480px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
section header{
    margin-left: 20px;
    height: 25px;
    width: 450px;
    font-weight: bold;
    font-size: 22px;
}

.primerArticulo{
    width: 480px;
    height: 190px;
    margin-bottom: 20px; 
    background-color:  #F2E8B6;
    border-radius: 15px 15px 0px 0px;
}
.segundoArticulo{
    width: 480px;
    height: 190px;
    background-color:  #F2E8B6;
    border-radius: 0px 0px 15px 15px;
}
.textoArticulo{
    margin-left: 20px;
    justify-content: center;
    float: left;
    width: 285px;
    height: 120px;
    font-size: 15px;
}
.imagenArticulo{
    float: right;
    width:  140px;
    height: 130px ;
    margin-right: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
}
article a{
    margin-right: 100px;
}
footer{
    width: 800px;
    height: 70px;
    clear: both;
    background-color: #1C4B49;
    border-radius: 0px 0px 15px 15px;
}
footer p{
    color: white;
    text-align: center;
    margin: auto;
}

